header{
    background-color: black;
    color: white;
}
nav{
    display: flex;
    justify-content: space-between;
}
ul{
    display: flex;
    list-style-type: none;
}
li{
    display: flex;
    align-items: flex-end;
    margin: 0 10px;
}
a{
    font-weight: 800;
    font-size: 25px;
    text-decoration: none;
    color: white;
}
img{
    width: 5.5em;
    height: 3.5em;
    margin:10px 0 0 10px
}