<header>
    <nav>
        <ul>
            <li>
                <a routerLink="/" class="links"><img id="logo" [src]="logoPath"></a>
            </li>
            <li>
                <a routerLink="/about" class="links">ABOUT US</a>
            </li>
            <li>
                <a routerLink="/contact" class="links">CONTACT</a>
            </li>
            <li>
                <a routerLink="/faq" class="links">FAQ</a>
            </li>
        </ul>
        <ul id="user_menu">
            <li>
                <a routerLink="/cart"><img src="/basket_icon.png" alt="Korpa"></a>
            </li>
            <li>
                <a routerLink="/profile"><img src="/user_icon.png" alt="Profil"></a>
            </li>
            <li id="login">
                <a routerLink="/login">Sign in</a>
            </li>
        </ul>
    </nav>
</header>