<header>
    <nav>
        <ul>
            <li>
                <a routerLink="/"><img [src]="logoPath"></a>
            </li>
            <li>
                <a routerLink="/about">ABOUT US</a>
            </li>
            <li>
                <a routerLink="/contact">CONTACT</a>
            </li>
            <li>
                <a routerLink="/faq">FAQ</a>
            </li>
        </ul>
        <ul>
            <li>
                <img src="#" alt="Korpa">
            </li>
            <li>
                <img src="#" alt="Profil">
            </li>
            <li id="login">
                <a routerLink="/login">Sign in</a>
            </li>
        </ul>
    </nav>
</header>