form {
    display: flex;
}

.slika-box {
    font-family: 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    text-align: center;
}

.slika {
    font-family: 'Trebuchet MS', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 540px;
    width: 500px;
    border: solid rgb(175, 175, 175) 5px;
    border-radius: 25px 0px 0px 25px;
}

.slika-box p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    font-size: 70px;
    font-weight: 900;
    background-color: rgb(255, 255, 255);
    width: 60%;
    height: 350px;
    border-radius: 35px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Trebuchet MS', sans-serif;
}

.ikonice {
    position: absolute;
    top: 68%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ikona {
    height: 45px;
    width: 45px;
    margin: 0 10px;
    cursor: pointer;
}

.login-box {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0px 15px;
    background-color: white;
    height: 540px;
    width: 600px;
    border: solid black 5px;
    border-radius: 0px 25px 25px 0px;
}

.input-box {
    display: flex;
    justify-content: center;
}

.input {
    width: 75%;
    height: 60px;
    font: 17px;
    padding: 0 25px;
    border: none;
    box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.3);
    outline: none;
    transition: .3s;
}
.input:focus{
    width: 78%;
}

.login-btn {
    display: flex;
    justify-content: center;
    height: 12%;
}

button {
    width: 80%;
    background: #000000;
    color: white;
    font-weight: 750;
    font-size: 20px;
    border: none;
    cursor: pointer;
    transition: .2s;
}
button:hover{
    box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.3);
    width: 82%;
}

#error {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, 0px);
    color: red;
}

#register {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, 0px);
}

#register a {
    text-decoration: underline;
    color: black;
    font-weight: 700;
}