* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

app-root {
    height: 100%;
    display: block;
}

app-auth-layout {
    display: block;
    height: 100%;
    background-image: url("/pozadina_main1.png");
}

app-login {

    display: flex;
    justify-content: center;
    padding-top: 175px;
    font-family: 'Trebuchet MS', sans-serif;
}